main {
    margin: 70px;
    border-left: 2px solid #EB86D0;
}

h1 {
    margin: 90px 70px;
}

#contactForm {
    margin: 50px 60px;
}

.go_next {
    margin: 90px 70px;
}


@media (max-width: 800px) {

    main {
        margin: 45px;
    }

    h1 {
        font-size: 35px;
        margin: 60px 30px;
    }
    
    .go_next {
        text-align: center;
        margin: 60px 0px;
    }
}