main {
    margin: 70px;
    border-left: 2px solid #EB86D0;
}

h1 {
    margin: 90px 90px;
}

h3 {
    color:#431538;
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    font-weight: bolder;
}

#contactForm {
    margin: 50px 120px;
}

input {
    height: 30px;
    width: 300px;
}

textarea {
    height: 300px;
    width: 300px;
}

.go_next {
    margin: 90px 40px;
}

#yourNameError,
#emailError,
#messageError,
.messageYou {
    display: none;
}

.messageYou {
    background-color: #817f7f;
    height: 300px;
    width: 400px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    right: 50%;
    top: 60%;
    text-align: center;
}

a {
    font-size: 25px;
}

a:hover {
    text-decoration: underline;
    color: #EB86D0;
}


@media (max-width: 800px) {

    main {
        margin: 45px;
    }

    h1 {
        font-size: 35px;
        margin: 60px 0px;
        text-align: center;
    }

    #contactForm {
        margin: 50px 0px;
        text-align: center;
    }
    
    .go_next {
        text-align: center;
        margin: 60px 0px;
    }
}

@media (max-width: 450px) {

    input {
        width: 230px;
     }
    
    textarea {
        width: 230px;
    }
}

@media (max-width: 400px) {

    h1 {
        font-size: 25px;
    }
}